/.git
/Debug/DeHazeBaseonContrastEnhance.ilk
/Debug/DeHazeBaseonContrastEnhance.pdb
/Debug/DeHazeBaseonContrastEnhance.exe
Cleanup
ImageAlgorithmDraft.opensdf
ImageAlgorithmDraft.sdf
ImageAlgorithmDraft.v12.suo