/.git
/Debug/DeHazeBaseonContrastEnhance.ilk
/Debug/DeHazeBaseonContrastEnhance.pdb
/Debug/DeHazeBaseonContrastEnhance.exe
/Debug/GuidedFilter.ilk
/Debug/GuidedFilter.pdb
/Debug/GuidedFilter.exe
Cleanup
ImageAlgorithmDraft.opensdf
ImageAlgorithmDraft.sdf
ImageAlgorithmDraft.v12.suo