/.git
/Debug/DeHazeBaseonContrastEnhance.ilk
/Debug/DeHazeBaseonContrastEnhance.pdb
/Debug/DeHazeBaseonContrastEnhance.exe
/Debug/test.jpg
Cleanup
DeHazeBaseonContrastEnhance.opensdf
DeHazeBaseonContrastEnhance.sdf
DeHazeBaseonContrastEnhance.v12.suo